.page-layer-container {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--body);
  animation: layer 2s ease-out;

  z-index: 999;
}

@keyframes layer {

  0%,
  100% {
    left: 0;
  }
}

.page-layer {
  margin: auto;
  display: flex;
}

.page-layer img {
  display: flex;
  width: auto;
  height: 120px;
}

@media screen and (max-width: 600px) {
  .page-layer img {
    height: 80px;
  }
}
