.homepage-infotargets{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.homepage-infotargets li{
    padding: 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--principal);
    border-radius: 6px;
    gap: 5px;
}

.homepage-infotargets li img{
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
}

.homepage-infotargets li p.title{
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 600px){
    .homepage-infotargets{
        grid-template-columns: 1fr;
    }
}
