.machinery-page-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.machinery-card {
  border: 1px solid var(--color-1);
  border-radius: 6px;
  background: var(--body);
  /* background: red; */
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  overflow: hidden;
}

.machinery-card-category {
  position: absolute;
  right: 10px;
  top: 10px;
  /* background: rebeccapurple; */
  padding: 4px 7px;
  border-radius: 4px;
  font-size: 12px;

  display: inline-block;
}

.machinery-card-category::first-letter {
  text-transform: uppercase;
}

.machinery-card-category.venta {
  background: crimson;
  color: var(--white);
}

.machinery-card-category.alquiler {
  background: rgb(22, 90, 226);
  color: var(--white);
}

.machinery-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.machinery-card>.d-flex-column.gap-10 {
  width: 100%;
  padding: 10px;
}

.machinery-card-title {
  color: var(--black);
  font-weight: bold;
  font-size: 20px;
}

.machinery-card-link {
  margin-top: auto;
}

@media screen and (max-width: 600px) {
  .machinery-page-products {
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 10px;
  }

  .machinery-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .machinery-card-category {
    left: 10px;
    top: 10px;
    right: unset;
  }

  .machinery-card img {
    width: 100%;
  }
}
