.machinery-page-products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.machinery-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #D9D9D9;
}

.machinery-card a {
  position: relative;
  display: flex;
  flex-direction: column;
}

.machinery-card-category {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px 10px 10px 10px;

  display: inline-block;
}

.machinery-card-category::first-letter {
  text-transform: uppercase;
}

.machinery-card-category.venta {
  background: crimson;
  color: var(--white);
}

.machinery-card-category.alquiler {
  background: #2d2dea;
  color: var(--white);
}

.machinery-page-products-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
}

.machinery-page-products-image img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--t-200ms-linear);
}

.machinery-page-products-image:hover img {
  scale: 1.1;
}

.machinery-card a .d-flex-column.gap-10 {
  padding: 10px;
}

.machinery-card a div .machinery-card-title {
  color: var(--black);
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .machinery-page-products {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .machinery-card a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .machinery-card-category {
    left: 10px;
    top: 10px;
    right: unset;
  }

  .machinery-card img {
    width: 100%;
  }
}
