.hero-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: url('https://www.gruasememca.com/media/img/us-poster-video.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}