.block-container-blog-targets{
    background: #F8F9FA;
    margin: auto;
    max-width: 2000px;
    transition: var(--t-200ms);
}

.dark-mode .block-container-blog-targets{
    background: var(--black-2);
}

.blog-targets{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-target{
    display: flex;
    flex: 1 1 clamp(320px, calc(calc(100% / 3) - calc(40px / 3)), 100%);
    background: var(--body);
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgba(0 0 0 / 0.075);
    transition: var(--t-200ms);
}

.blog-target:hover{
    border: 1px solid rgba(0 0 0 / 0.2);
}

.dark-mode .blog-target{
    border: 1px solid var(--black-2);
}

.dark-mode .blog-target:hover{
    border: 1px solid var(--black-4);
}

.blog-target a{
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
}

.blog-target a img{
    width: 120px;
    height: 180px;
    object-fit: cover;
}

.blog-target a div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 5px;
    padding: 10px;
}

.blog-target-tag{
    display: flex;
    width: auto;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14.5px;
}

.category-1{
    background: #90ee90;
    color: green;
}

.dark-mode .category-1{
    background: rgba(145, 238, 145, 0.8);
}

.category-2{
    background: rgba(255, 0, 0, 0.15);
    color: red;
}

.dark-mode .category-2{
    background: rgba(255, 0, 0, 0.25);
}

.category-3{
    background: rgba(255, 165, 0, 0.25);
    color: orange;
}

@media screen and (max-width: 600px){
    .blog-target a img{
        width: 130px;
        height: 180px;
    }
}