.homepage-services-buttons-container ul {
  display: flex;
  align-items: center;
  justify-content: left;
}

.homepage-services-buttons-container ul li button {
  width: auto;
  height: 48px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--t-200ms-linear);
}

.homepage-services-buttons-container ul li button:hover {
  background: var(--color-1);
}
