.block-container.machinery {
  position: relative;
}

.block-container.machinery>img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.block-container.machinery::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 0.5);
  z-index: -1;
}