:root {
  --height-hp-project: 300px;
}

.homepage-projects {
  background: #DFDFDF;
  border: 2px solid #DFDFDF;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.homepage-project {
  display: flex;
  gap: 2px;
}

.homepage-project>div {
  width: calc(50% - 1px);
  height: 100%;
}

.homepage-project:nth-child(2n - 1) .homepage-project-tag-1,
.homepage-project:nth-child(2n) .homepage-project-tag-1 {
  height: var(--height-hp-project);
  background: var(--body);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.homepage-project:nth-child(2n) {
  flex-direction: row-reverse;
}

.homepage-project-tag-title {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.homepage-project-tag-title span {
  font-size: 45px;
  font-weight: bold;
  color: var(--text);
}

.homepage-project-tag-title p {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--black);
}

.homepage-project:nth-child(2n - 1) .homepage-project-tag-2 {
  display: flex;
}

.homepage-project:nth-child(2n) .homepage-project-tag-2 img,
.homepage-project:nth-child(2n - 1) .homepage-project-tag-2 img {
  display: flex;
  width: 100%;
  height: var(--height-hp-project);
  object-fit: cover;
}

.homepage-project-tag>p {
  /* margin: auto; */
  font-size: 22px;
}

.homepage-project-tag-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.homepage-project-tag-link p {
  display: flex;
  color: var(--color-1);
}

.homepage-project-tag-link:hover p {
  text-decoration: underline;
}