/* Font's family */

@font-face{
    font-family: 'Anton';
    src: url('../../../public/assets/fonts/AntonSC-Regular.ttf') format('truetype');
}

/**/

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background: var(--header);
    box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
    transition: var(--t-200ms);
    z-index: 100;
}

.header{
    width: 100%;
}

.header-top-container{
    width: 100%;
    height: 48px;
    padding: 0 20px;
    display: flex;
    background: var(--header-top);
}

.header-top{
    margin: auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-networks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-contact{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-contact li a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header-contact li a span,
.header-contact li a p{
    color: var(--white);
    transition: var(--t-100ms);
}

.header-contact li a span{
    font-size: 19px;
}

.header-contact li a p{
    font-size: 16px;
}

.header-contact li a:hover p{
    text-decoration: underline;
}

/**/

.header-bottom-container{
    width: 100%;
    height: 80px;
    padding: 0 20px;
}

.header-bottom{
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-logo p{
    display: flex;
    gap: 3px;
}

.header-logo p,
.header-logo p span{
    font-family: 'Anton';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 32px;
    transition: var(--t-200ms);
}

.header-logo p{
    color: var(--black-0);
}

.header-logo p span{
    color: var(--red);
}

.menu-container{
    transition: var(--t-200ms);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: var(--t-200ms);
}

.menu-link:hover h2,
.menu-link:hover span{
    color: var(--red);
}

.menu-link.active{
    padding: 6px 10px;
    background: var(--red);
}

.menu-link span{
    font-size: 22px;
}

.menu-link h2,
.menu-link span{
    color: var(--black-5);
    transition: var(--t-200ms);
}

.menu-link.active h2,
.menu-link.active span{
    color: var(--white);
}

.menu-link.active span{
    rotate: -180deg;
}

.dark-mode .menu-link.active:hover h2,
.dark-mode .menu-link.active:hover span{
    color: var(--white);
}

/**/

.menu-button{
    display: none;
}

/**/

.sub-menu-container{
    position: fixed;
    left: 0;
    top: 128px;
    width: 100%;
    height: calc(100vh - 128px);
    background: rgba(0 0 0 / 0.075);
    backdrop-filter: blur(2.5px);
    transition: var(--t-200ms);
    padding: 20px;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.sub-menu-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.sub-menu{
    margin: auto;
    background: var(--header);
    transition: var(--t-200ms);
    width: 100%;
    max-width: 1600px;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0 0 0 / 0.1);
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 10px;
}

.sub-menu-title{
    color: var(--red);
    font-size: 32px;
    font-family: 'Anton';
    text-transform: uppercase;
}

.sub-menu-links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sub-menu-links li{
    display: flex;
    flex: 1 1 clamp(300px, calc(calc(100% / 2) - calc(20px / 2)), 100%);
    max-width: (calc(100% / 2) - calc(20px / 2));
}

.sub-menu-links li a{
    display: flex;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: var(--t-200ms);
    border-radius: 8px;
    gap: 10px;
}

.sub-menu-links li a:hover{
    background: rgb(218 19 31 / 0.075);
}

.dark-mode .sub-menu-links li a:hover{
    background: rgba(255 255 255 / 0.05);
}

.sub-menu-links li a h3{
    font-size: 24px;
    color: var(--black-1);
    transition: var(--t-200ms);
}

.sub-menu-links li a:hover h3{
    color: var(--red);
}

.dark-mode .sub-menu-links li a h3{
    color: var(--white);
}

@media screen and (max-width: 600px){
    .social-networks{
        gap: 6px;
    }

    .menu-button{
        display: flex;
        position: relative;
        width: 48px;
        height: 48px;
        background: rgba(0 0 0 / 0.025);
        border: 1px solid var(--red);
        border-radius: 4px;
        transition: var(--t-200ms);
    }

    .dark-mode .menu-button{
        background: rgba(255 255 255 / 0.25);
        border: 1px solid var(--white);
    }

    .menu-container{
        position: fixed;
        left: 100%;
        top: 128px;
        width: 100%;
        height: calc(100vh - 128px);
        background: var(--header);
        overflow-y: auto;
        padding-bottom: 20px;
    }

    .menu-container.active{
        left: 0;
    }

    .menu{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

    .menu-item{
        width: 100%;
    }

    .menu-link{
        width: 100%;
        height: 56px;
        border-radius: 0;
        justify-content: space-between;
        padding: 0 20px;
    }

    .menu-link.active{
        padding: 0 20px;
    }

    .menu-link:hover{
        background: rgba(255 0 0 / 0.15);
    }

    .dark-mode .menu-link:hover{
        background: rgba(255 255 255 / 0.25);
    }

    .dark-mode .menu-link:hover h2,
    .dark-mode .menu-link:hover span{
        color: var(--white) !important;
    }

    .menu-link.active:hover{
        background: var(--red);
    }

    .sub-menu-container{
        position: unset;
        overflow: hidden;
        padding: 0 20px;
        transition: var(--t-200ms);
        height: 0;
    }

    .sub-menu-container.active{
        padding: 20px;
        height: auto;
        interpolate-size: allow-keywords;
        background: var(--header);

        opacity: 1;
        pointer-events: unset;
        user-select: unset;
    }

    .sub-menu{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        box-shadow: none;
        border: 0;
    }

    .menu-button span{
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        color: var(--red);
        transition: var(--t-200ms);
    }

    .dark-mode .menu-button span{
        color: var(--white);
    }
}