header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  background: var(--header);
  z-index: 99;
}

.header {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--mx-w-content);
}

.header-logo img {
  width: auto;
  height: 64px;
  object-fit: contain;
}

.header-nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-nav-ul li {
  position: relative;
}

.header-nav-ul li button,
.header-nav-ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-sub-icon {
  display: none;
}


.header-nav-ul li button span,
.header-nav-ul li button h2,
.header-nav-ul li a span,
.header-nav-ul li a h2 {
  color: var(--text);
}


.header-nav-ul li button:hover span,
.header-nav-ul li button:hover h2,
.header-nav-ul li a:hover span,
.header-nav-ul li a:hover h2 {
  color: var(--color-1);
}

.menu-button-link-arrow {
  position: absolute;
  left: 50%;
  top: 100%;
  translate: -50% 0;
  opacity: 0;
}

.header-nav-ul li button:hover .menu-button-link-arrow,
.header-nav-ul li a:hover .menu-button-link-arrow {
  opacity: 1;
}

.sub-menu-container {
  position: fixed;
  left: 0;
  top: 88px;
  display: flex;
  padding: 0 20px;
  width: 100%;
  background: var(--header);
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;

  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.sub-menu-container.active {
  opacity: 1;
  pointer-events: unset;
  user-select: unset;
}

.sub-menu {
  margin: auto;
  width: 100%;
  display: grid;
  max-width: var(--mx-w-content);
  grid-template-columns: 360px 1fr;
}

.sub-menu-target-1 {
  padding: 40px 20px 40px 0;
  border-right: 1px solid #999;
}

.menu-button-open {
  display: none;
}

.sub-menu-target-menu ul {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sub-menu-target-menu ul li {
  display: flex;
}

.sub-menu-target-menu ul li a {
  display: flex;
  flex-direction: column;
}

.sub-menu-target-menu ul li {
  display: flex;
}

.sub-menu-target-menu ul li a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.sub-menu-target-menu ul li a p.title {
  width: 100%;
  color: var(--color-1);
  font-size: 15px;
}

.sub-menu-target-menu ul li a:hover p.title {
  background: rgba(220 20 60 / 0.075);
}

.sub-menu-target-menu ul li a:hover p.text {
  text-decoration: underline;
}