header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background: var(--header);
  border-bottom: 1px solid var(--color-1);
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: var(--mx-w-content);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: bold;
  color: var(--color-1);
}
