.custom-cursor{
    position: fixed;
    width: 56px;
    height: 56px;
    background: transparent;
    border: 3px solid var(--red);
    border-radius: 100%;
    pointer-events: none;
    z-index: 1000;
    transition: all 50ms ease;
    transform: translate(-50%, -50%) scale(1);
}

.custom-cursor.hovered{
    border: 3px solid var(--black-9);
    background: var(--black-9);
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}