.homepage-testimonials {
  margin-top: 20px;
}

.homepage-testimonial {
  position: relative;
}

.homepage-testimonial-content>div {
  max-width: 560px;
}

.homepage-testimonial-content>div>a {
  margin-left: auto;
}

.hp-testimonial-service {
  color: var(--text);
  font-weight: bold;
}

.homepage-testimonial-content p.title {
  text-transform: uppercase;
  color: var(--color-1);
  font-size: 40px;
  font-weight: bold;
}

.homepage-testimonial-content img {
  width: auto;
  max-width: 320px;
  height: 360px;
  object-fit: cover;
  border-radius: 4px;
}

.hp-testimonial-float-tag {
  position: absolute;
  right: 0;
  bottom: 20px;
  background: var(--color-1);
  padding: 20px;
  width: auto;
  max-width: 480px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.hp-testimonial-float-tag p,
.hp-testimonial-float-tag span {
  color: var(--white);
}

.hp-testimonial-buttons {
  position: absolute;
  right: 0;
  top: 0;
}

.hp-testimonial-buttons>button span {
  font-size: 42px;
}

.hp-testimonial-buttons>.d-flex span {
  cursor: pointer;
  display: flex;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: var(--color-1);
}