@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

:root {
  --header: #FFFFFF;
  --body: snow;

  --color-1: #DA111D;

  --white: #FFFFFF;

  --mx-w-content: 2000px;
}

body {
  background: var(--body);
}

main {
  width: 100%;
  min-height: 50vh;
  padding: unset !important;
  margin: unset !important;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
}

.button-link {
  width: auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-link-1 {
  width: auto;
  height: 44px;
  background: var(--color-1);
  border-radius: 4px;
}

.button-link-1 p,
.button-link-1 span {
  color: var(--white);
}