@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.anton-regular,
.block-title {
  font-family: "Anton", sans-serif;
  font-weight: unset;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}


:root {
  --header: #FFFFFF;
  --body: snow;
  --text: #333333;

  --color-1: #DA111D;

  --white: #FFFFFF;

  --t-200ms-linear: all 200ms linear;

  --mx-w-content: 1600px;
}

body {
  background: transparent;
}

main {
  width: 100%;
  min-height: 50vh;
  padding: unset !important;
  margin: unset !important;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.margin-left {
  margin-left: auto;
}

.margin-right {
  margin-right: auto;
}

.margin-top {
  margin-top: auto;
}

.margin-bottom {
  margin-bottom: auto;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
}

.button-link {
  width: auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--t-200ms-linear);
  position: relative;
  overflow: hidden;
  gap: 10px;
}

.button-link span,
.button-link-text {
  transition: var(--t-200ms-linear);
}

.button-link-1 {
  width: auto;
  height: 44px;
  background: var(--color-1);
  border-radius: 4px;
}

.button-link-1::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: flex;
  background: darkred;
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  scale: 0;
  transition: var(--t-200ms-linear);
  z-index: 0;
}

.button-link-1:hover::before {
  scale: 5;
}

.button-link-1 p,
.button-link-1 span {
  color: var(--white);
  z-index: 1;
}

.button-link-2 {
  width: auto;
  height: 44px;
  background: transparent;
  border-radius: 4px;
}

.button-link-2:hover {
  background: var(--white);
}

.button-link-2 span,
.button-link-2 .button-link-text {
  color: var(--white);
}

.button-link-2:hover span,
.button-link-2:hover .button-link-text {
  color: var(--color-1);
}

.block-container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px;
  background: var(--body);
  z-index: 1;
}

.block-content {
  margin: auto;
  width: 100%;
  max-width: var(--mx-w-content);
}

.block-title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block-title-container>span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--text);
}

.block-title {
  font-size: 34px;
  color: var(--black);
}