.dark-mode{
    --body: #000000;
    --header: #333333;
    --header-top: #222222;
}

/* Text's style */

.dark-mode .text{
    color: var(--white);
}

/* Header's styles */

.dark-mode .menu-link h2,
.dark-mode .menu-link span{
    color: var(--white);
}

.dark-mode .menu-link:hover h2,
.dark-mode .menu-link:hover span{
    color: var(--black-9);
}

.dark-mode .header-logo p{
    color: var(--white);
}

/* Button's link style */

.dark-mode .link-1:hover{
    background: rgba(255 255 255 / 0.25);
    border: 1px solid var(--white);
}

.dark-mode .link-1 p,
.dark-mode .link-1 span{
    color: var(--white);
}