/* General's style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roobert';
    font-size: 17px;
    text-decoration: none;
    list-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* Root's style */

:root{
    --body: #FFFFFF;
    --header: #FFFFFF;
    --header-top: #000000;

    --white: #FFFFFF;
    --red: #DA131F;

    --text: #555555;

    --black-0: #000000;
    --black-1: #111111;
    --black-2: #222222;
    --black-3: #333333;
    --black-4: #444444;
    --black-5: #555555;
    --black-6: #666666;
    --black-7: #777777;
    --black-8: #888888;
    --black-9: #999999;

    --t-100ms: all 100ms linear;
    --t-200ms: all 200ms linear;
    --t-300ms: all 300ms linear;
}

/* Body's style */

body{
    background: var(--body);
    transition: var(--t-200ms);
}

/* Flex */

.d-flex{
    display: flex;
}

/* Margin */

.margin-left{
    margin-left: auto;
}

/* Gap */

.gap-5{
    gap: 5px;
}

.gap-10{
    gap: 10px;
}

.gap-20{
    gap: 20px;
}

/* Color's root */

.color-white{
    color: var(--white);
}

/* Font's family */

@font-face{
    font-family: 'Anton';
    src: url('../public/assets/fonts/AntonSC-Regular.ttf') format('truetype');
}

.font-anton{
    font-family: 'Anton';
    font-weight: normal;
}

@font-face{
    font-family: 'Roobert';
    src: url('../public/assets/fonts/RoobertSemiBold.ttf') format('truetype');
}

/* List's style */

.list-simple{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-simple li{
    display: flex;
    gap: 5px;
}

.list-simple li span{
    color: lightgreen;
}

/* Text's style */

.text-title{
    color: var(--black-0);
    font-size: 20px;
    transition: var(--t-200ms);
}

.dark-mode .text-title{
    color: var(--black-9);
}

.text{
    color: var(--text);
    transition: var(--t-200ms);
}

/* Icons */

.material-symbols-outlined{
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.icon-small{
    font-size: 18px;
}

/* Font's size */

.font-small{
    font-size: 14px;
}

/* Button's style */

button{
    cursor: pointer;
    border: 0;
    outline: 0;
    background: none;
    border-radius: 4px;
}

.call-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: auto;
    height: 48px;
    padding: 0 20px;
    border-radius: 4px;
}

.call-button-1{
    background: var(--red);
}

.call-button span,
.call-button-1 p{
    color: var(--white);
}

/* Link's style */

.link{
    width: auto;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 4px;
    gap: 10px;
    transition: var(--t-200ms);
    border: 1px solid transparent;
}

.link p,
.link span{
    transition: var(--t-200ms);
}

.link-1{
    border: 1px solid #DADADA;
}

.link-1:hover{
    border: 1px solid var(--red);
    background: rgba(218 19 31 / 0.1);
}

.link-1 p,
.link-1 span{
    color: var(--red);
}

.link-2{
    background: var(--red);
    border: 1px solid var(--red);
}

.link-2:hover{
    background: #cc111d;
    border: 1px solid #cc111d;
}

.link-2 p,
.link-2 span{
    color: var(--white);
}

/* Video targets */

.target-video{
    width: 100%;
    margin: auto;
    display: flex;
    position: relative;
}

.target-video img{
    margin: auto;
    width: 100%;
    max-width: 540px;
    border-radius: 32px;
    object-fit: cover;
    aspect-ratio: 4/2;
    transition: var(--t-200ms);
}

.target-video-button{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 72px;
    height: 48px;
    background: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.target-video-button span{
    color: var(--white);
    font-size: 24px;
}

.hero-target-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0 0 0 / 0.5);
    padding: 20px;
    display: flex;
    z-index: 101;
    transition: var(--t-200ms);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.dark-mode .hero-target-container{
    background: rgba(0 0 0 / 0.75);
}

.hero-target-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.hero-target-content{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    background: var(--white);
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dark-mode .hero-target-content{
    background: var(--header-top);
}

.hero-target-content video{
    width: 100%;
    height: auto;
    max-height: 450px;
    border-radius: 24px;
}

/* Content */

.block-container{
    width: 100%;
    display: flex;
    padding: 20px;
}

.block-content{
    margin: auto;
    width: 100%;
    max-width: 1440px;
}

.block-title-container{
    margin-bottom: 20px;
}

.block-title-container h2{
    text-align: center;
    font-family: 'Anton';
    font-size: 40px;
    font-weight: normal;
    color: var(--red);
    transition: var(--t-200ms);
}

.dark-mode .block-title-container h2{
    color: var(--white);
}

/* Responsive */

/* @media screen and (max-width: 800px){
    *{
        cursor: none;
    }
} */

@media screen and (max-width: 600px){
    .target-video img{
        aspect-ratio: unset;
        max-height: 240px;
    }
}

/* Dark mode */

@import url('./DarkMode.css');

/* Responsive */

@import url('./Responsive.css');

@media screen and (max-width: 600px){
    .block-title-container h2{
        text-align: center;
        font-size: 36px;
    }
}