@media screen and (max-width: 600px){

    .call-button{
        width: 48px !important;
        height: 48px !important;
        padding: 0 0;
    }

    .call-button p{
        display: none;
    }

    /* Header's style */

    .header-contact li a p{
        display: none;
    }

    .header-bottom{
        gap: 10px;
    }

    .header-bottom .call-button{
        margin-left: auto;
    }
}