.hero-container{
    margin-top: 120px;
    width: 100%;
    height: calc(100vh - 120px);
    max-height: 920px;
    padding: 20px;
}

.hero-content{
    margin: auto;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.hero-target{
    width: 100%;
    height: 100%;
    display: flex;
}

.hero-target-1{
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.hero-target-welcome{
    padding: 10px 15px;
    border-radius: 4px;
    color: var(--red);
    background: rgb(218 19 31 / 0.05);
    transition: var(--t-200ms);
}

.hero-target-1 h1,
.hero-target-1 h1 span{
    font-family: 'Anton', sans-serif;
    font-weight: unset;
    text-transform: uppercase;
    font-size: 72px;
    transition: var(--t-200ms);
}

.hero-target-1 h1{
    color: var(--black-0);
}

.hero-target-1 h1 span{
    color: var(--red);
}

.hero-resumes{
    margin-bottom: 20px;
}

.hero-links{
    gap: 10px;
}

/* Dark mode*/

.dark-mode .hero-target-welcome{
    color: var(--white);
    background: rgba(255 255 255 / 0.1);
}

.dark-mode .hero-target-1 h1{
    color: var(--white);
}

/* Responsive */

@media screen and (max-width: 600px){
    .hero-container{
        height: auto;
        max-height: none;
        padding: 40px 20px;
    }
    .hero-content{
        grid-template-columns: 1fr;
    }
    .hero-target-1{
        gap: 20px;
        flex-direction: column;
    }
    .hero-target-1 h1,
    .hero-target-1 h1 span{
        font-size: 56px;
    }
    .hero-resumes{
        margin-bottom: 0;
    }
    .hero-links{
        width: 100%;
        flex-direction: column;
    }
}