.h-p-us-container {
  display: flex;
  width: 100%;
  height: 350px;
}

.h-p-us-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.h-p-us-content ul {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.h-p-us-content ul li {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  background: orange;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
}

.h-p-us-content ul li:nth-child(1) {
  left: 25%;
  translate: -50% -50%;
}

.h-p-us-content ul li:nth-child(2) {
  left: 50%;
  translate: -50% -50%;
  background: red;
  z-index: 1;
}

.h-p-us-content ul li:nth-child(2) img {
  width: 260px;
  height: 320px;
}

.h-p-us-content ul li:nth-child(3) {
  right: 25%;
  translate: 50% -50%;
}

.h-p-us-content ul li:nth-child(1),
.h-p-us-content ul li:nth-child(3) {
  z-index: 0;
}

.h-p-us-content ul li:nth-child(1) img,
.h-p-us-content ul li:nth-child(3) img {
  width: 160px;
  height: 200px;
  object-fit: cover;
}

.h-p-us-content ul li img {
  display: flex;
  width: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .about-us-block-content .d-grid-2-to-1fr.gap-10 .w-100.d-flex.gap-10 {
    display: grid !important;
    grid-template-columns: auto 1fr;
  }

  .about-us-block-content .d-grid-2-to-1fr.gap-10 .w-100.d-flex.gap-10 a {
    width: 100%;
  }

  .h-p-us-content ul li:nth-child(2) img {
    width: 200px;
    height: 280px;
  }
}
